<h3>Laboratory test report</h3>
<table>
  <thead>
    <tr>
      <th>Item name</th><th>Value</th><th>Unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td><td></td><td></td>
    </tr>
  </tbody>
</table>
