<strong>Blood pressure:</strong><br />
<p>
<strong>Systolic blood pressure:</strong> <%= @vital_sign_report.systolic_blood_pressure %>mmHg<br />
<strong>Diastolic blood pressure:</strong> <%= @vital_sign_report.diastolic_blood_pressure %>mmHg<br />
<strong>Pulse rate:</strong> <%= @vital_sign_report.pulse_rate %><br />


</p>
