<h2>バイタルサイン</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>収縮期血圧</th><th>拡張期血圧</th><th>脈拍</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @composition.systolic_blood_pressure %></td><td><%= @composition.diastolic_blood_pressure %></td><td><%= @composition.pulse_rate %></td>
    </tr>
  </tbody>
</table>
<%= link_to '戻る', person_path(@composition.ehr.person) %>

