<h1>Editing <%= t('.at0000') %></h1>

<%= render 'form' %>

<%= link_to 'Show', open_ehr_ehr_observation_mml_test_module_v1_path(id: @open_ehr_ehr_observation_mml_test_module_v1.id) %> |
<%= link_to 'Back', open_ehr_ehr_observation_mml_test_module_v1_index_path %>
