<h1>MML Lab test</h1>
<table>
  <thead>
    <tr>
      <th>検査日時</th>
      <th>状態</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <tr>
     <td><%= %></td>
     <td><%= %></td>
     <td><%= %></td>
   </tr>
  </tbody>
</table>
