<p id="notice"><%= notice %></p>

<div id="composition" class="composition">
  <div class="context">
   <div id="other_context">
     
   </div>
    <span>Report ID(node: at0002, path: /context/other_content[at0001])/items[at0002: report Id</span>
    <span>Status(node: at0005, path: /context/other_content[at0001])/items[at0005): status</span>
    <div>items
      <div>
      </div>
    </div>    
  </div>
  <div class="content">
    
  </div>
</div>
