<span class= 'badge'>Blood Pressure</span>
<%= form_for @blood_pressure, url: 'sandbox/new', remote: true do |f| %>
<div class="field">
 SBP: <%= f.text_field :at0003 %> mmHg<br>
 DBP: <%= f.text_field :at0004 %> mmHg<br>
</div>
<% end %>
