<table width="" cellspacing="" cellpadding="" border="">
  <thead>
    <tr>
      <th>Description</th><th>Site</th><th>Intensity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>頭痛</td>
    </tr>
  </tbody>
</table>
