<div class="row-fluid">
  <div class="canvas col-md-8">

  </div>
  <div class="toolbox col-md-4">
   <span class="archetype btn" id="symptom">Symptom</span><br/>
   <span class="archetype btn" id="blood_pressure">Blood pressure</span><br/>
   <span class="archetype btn" id="pulse_rate">Pulse rate</span><br/>
  </div>
</div>
