#header {
    height: 100px;
    padding: 20px;
    font-size: 3em;
    background: white;
    color: light-gray;
}
.canvas {
    
}
.toolbox {
    color: gray;
    padding: 10px;
}
#archetype {
    border: solid 1px black;
}